title: NAME
slug: should_be_same_as_filename # but is probably optional...
date_fetched: 2016-09-09

license:
  name: MIT
  url: https://opensource.org/licenses/MIT

publisher:
  name: "U.S. Census"
  url: http://www.census.gov/topics/population/genealogy/data/2000_surnames.html


gsheet:
  id: ggg
  sheets:
      - description: Data
        gid: 000




description: |
  This will get rendered as Github flavored Markdown


notes: |
  For more detailed notes, also rendered as Markdown.


references:
  - title: Direct source download (zip)
    url: http://www2.census.gov/topics/genealogy/2000surnames/names.zip

